html{
	position: relative;

}

body{
	margin-bottom: 120px;
	margin-top: 50px;


}

.jumbotron {
	height: 450px;
	background-image: url('../img/header.jpeg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	background-position: 0px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,1);
}


.img-circle {
	width: 200px;
	border: 5px solid white;
	box-shadow: 1px 1px 10px rgba(0,0,0,1);


}

 hr{
	width: 250px;
	border-top: 3px solid #999;
}

.wk{
	text-align: justify;
}

section {
	min-height: 600px;
}

.pkiri,.pkanan{
	opacity: 0;
	transform : translate(-50px, 0);
	transition: 1s;
	text-align: justify;
}

.pkanan{
	transform: translate(50px,0);
}


.pkiri.pmuncul,.pkanan.pmuncul{
	opacity: 1;
	transform: translate(0,0);
}


.portfolio{
	background-color: #eee;
}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -100px);
	transition: .5s;
}

.portfolio .thumbnail.muncul{

	opacity: 1;
		transform: translate(0,0);

}
.contact{
	min-height: 800px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 150px;
	background-color: #333;
	padding-top: 30px;
}

footer p{
	color: #aaa;
	font-size: 0.9em;
	
}

#instagram span{
	color : #eee;
}





















