html{
	position: relative;

}

body{
	margin-bottom: 100px;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #666;
}

 hr{
	width: 250px;
	border-top: 3px solid #999;
}

.wk{
	text-align: justify;
}

section {
	min-height: 600px;
}


.portfolio{
	background-color: #eee;
}

.contact{
	min-height: 800px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 150px;
	background-color: #333;
	padding-top: 30px;
}

footer p{
	color: #aaa;
	font-size: 0.9em;
	
}

#instagram span{
	color : #eee;
}





















